html{
    background-color: #eda;
    color: black;
}

body{
    width: 90%;
    margin:auto;
    font-family: 'Quicksand', sans-serif;
    border-width: thin;
    display: block;
    border: rgb(136, 114, 48);
    box-sizing: border-box;
    border-style: hidden solid solid solid;
    border-radius: 10px;
}

header{
    background-size: cover;
    background-color: rgb(136, 114, 48);
    font-family: 'Playfair Display', serif;
    border-radius: 10px 10px 0px 0px;
}

footer{
    margin: 10px;
}

span{
    flex-direction: row;
    display: flex;
}

nav li{
    display: inline-block;
    background-color: #eda;
    padding: 5px;
    width: 20%;
    max-width: 200px;
    margin: 0px 2px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

a{
    color: rgb(160, 137, 68);
    text-decoration: none;
}

a:visited{
    color: rgb(136, 114, 48);
}

a:hover{
    color: #b90;
}
h1{
    padding: 5px;
}
.roundedEdges{
    border-radius: 5%;
}

.picture{
    width: auto;
    height: 300px;
    border-radius: 5%;
}

.projectPicture{
    width: auto;
    height: 300px;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project{
    width: 400px;
    background-color: rgb(199, 182, 130);
    padding: 5px;
    margin: 5px;
    border-radius: 5%;
}

#homeText{
    padding: 5px;
    margin: 5px;
}




