html{
    background-color: #eda;
    color: black;
}

body{
    width: 80%;
    margin:auto;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}

header{
    background-size: cover;
    background-color: rgb(136, 114, 48);
    font-family: 'Playfair Display', serif;
}

footer{
    margin: 10px;
}

nav li{
    display: inline-block;
    background-color: #eda;
    padding: 5px;
    width: 20%;
    max-width: 200px;
    margin: 0px 2px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

a{
    color: rgb(160, 137, 68);
    text-decoration: none;
}

a:visited{
    color: rgb(136, 114, 48);
}

a:hover{
    color: #b90;
}

.roundedEdges{
    border-radius: 5%;
}

.picture{
    width: auto;
    height: 300px;
    border-radius: 5%;
}

.projectPicture{
    width: auto;
    height: 300px;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project1{
    position: relative;
    width: 400px;
    background-color: rgb(199, 182, 130);
    padding: 5px;
}

#project2{
    position: relative;
    bottom: 565px;
    left:420px;
    width: 400px;
    background-color: rgb(199, 182, 130);
    padding: 5px;

}

#project3{
    position: relative;
    bottom: 1130px;
    left:840px;
    width: 400px;
    background-color: rgb(199, 182, 130);
    padding: 5px;

}

